$dominant: #050507;
$primaryColor: #8f00ff;
$secondaryColor: #0945df;
$wildcard: #cf62c4;
$red: #e20001;
$black: #191919;

//fontColor
$fontColor: gray;
$fontHighlight: #17b3a9;
//gradient color
$primaryGradient: whitespace;
$circle1: linear-gradient(to right, rgb(255, 255, 255), rgb(204, 204, 204));
