@mixin media($size) {
  @if $size == sm {
    @media (min-width: 320px) and (max-width: 478px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 479px) and (max-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == xlg {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  } @else if $size == xxlg {
    @media (min-width: 1441px) and (max-width: 1800px) {
      @content;
    }
  }
}
@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}
