//font-family
$primary-font: "Poppins", sans-serif;
$secondary-font: "Open Sans", sans-serif;
//font size according to typescale third perfect
$xxlr: 7.04rem;
$sbtl: 5.896rem;
$xlr: 4.523rem;
$lr: 3.199rem;
$md: 2.262rem;
$p: 1.6rem;
$sm: 1.4rem;
