//font-family
$primary-font: 'Poppins', sans-serif;
$title-font: 'Dancing Script', cursive;
//font size according to typescale third perfect
$xxxlr: 6.174rem;
$xxlr: 4.223rem;
$xlr: 3.499rem;
$lr: 2.562rem;
$md: 1.933rem;
$p: 1.69rem;
