//font-family
$title-font: 'Dancing Script', cursive;
$primary-font: 'Poppins', sans-serif, cursive;

//font size according to typescale third perfect
$xxlr: 9.044rem;
$sbtl: 6.396rem;
$xlr: 4.523rem;
$lr: 3.199rem;
$md: 2.262rem;
$p: 1.6rem;
$sm: 1.4rem;
