@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
.blog__details {
  padding: 2rem 8rem;
  margin-top: 6rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 2.5rem 3rem;
  }
  article {
    .description {
      padding: 2rem 0;
      h5 {
        font-weight: 500;
      }
      .author__container {
        padding-bottom: 1rem;
        @include m.flex(space-between);
        .info__left {
          @include m.flex(space-between);
          font-size: v.$p;
        }
        .info__right {
          @include m.flex(center);
        }
      }
      .img__container {
        position: relative;
        padding-top: 2rem;
        height: 45rem;
        width: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .markdown {
    margin: 2rem 0;
    p {
      margin: 1rem 0;
    }
    h2 {
      a {
        text-decoration: none;
        font-size: v.$xlr;
        color: c.$dominant;
      }
    }
    h4 {
      margin: 1rem 0;
    }
    a {
      text-decoration: underline;
      color: c.$secondaryColor;
    }
    code {
      font-size: 1.6rem;
    }
    ul {
      margin: 1rem 0;
      li {
        list-style: none;
        font-size: 1.6rem;
      }
    }
  }
}
