@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
.blog__details {
  margin-top: 5rem;
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 4rem 2.5rem;
  }
  article {
    .description {
      padding: 2rem 0;
      h5 {
        font-weight: 500;
      }
      .author__container {
        padding-bottom: 1rem;
        @include m.flex(space-between);
        .info__left {
          p {
            padding: 0 0.7rem;
          }
          @include m.flex(space-between);
          margin-left: 1rem;
          font-size: v.$p;
          .author__img {
            height: 3rem;
            width: 3rem;
            background: red;
            border-radius: 50%;
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
        .info__right {
          @include m.flex(center);
        }
        p {
          font-size: v.$sm;
        }
      }
      .img__container {
        position: relative;
        padding-top: 2rem;
        height: 45rem;
        width: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .articles {
        padding: 3rem 0;
        article {
          padding: 1rem 0;
        }
      }
    }
  }
  .conclution {
    padding-top: 3rem;
    p {
      padding: 0.5rem 0;
    }
    span {
      font-size: v.$p;
    }
  }
}
