@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
.primary__btn {
  position: relative;
  overflow: hidden;
  a {
    color: #ffffff;
    font-weight: bold;
  }
  background: #000000;
  padding: 2rem 3.5rem;
  margin: 1.5rem 0;
  border-radius: 1.5rem;
  border: 3px solid rgb(255, 255, 255);
  transition: transform ease-in-out 200ms;
  outline: none;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  &:hover,
  &:focus {
    transform: translateY(-0.5rem);
    cursor: pointer;
    background-color: c.$secondaryColor;
  }
  @include m.media(sm) {
    width: 100%;
    padding: 1.7rem 2rem;
  }
}
.secondary__btn {
  position: relative;
  box-shadow: -5px 30px 20px -20px rgb(86 93 113 / 38%);
  outline: none;
  transition: transform ease-in-out 300ms;
  padding: 2rem 3rem;
  margin: 3rem 0;
  background-color: c.$secondaryColor;
  border-radius: 1.5rem;
  border: none;
  a {
    color: #ffffff;
  }
  &:hover,
  &:focus {
    transform: translateY(-0.5rem);
    cursor: pointer;
  }
}
a {
  text-decoration: none;
}
.link {
  @include m.flex(flex-start);
  margin-top: 1.3rem;
  a {
    text-align: center;
    color: c.$fontHighlight;
    font-weight: 500;
    // font-size: $p;
  }
  &:hover {
    cursor: pointer;
  }
  .icon {
    margin-top: 0.41rem;
    margin-left: 0.7rem;
    font-size: v.$p;
    color: c.$fontHighlight;
  }
}
.custom__btn {
  position: relative;
  border-radius: 1.2rem;
  margin: 2rem 0;
  padding: 1.6rem 3.5rem;
  background: #000;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
  border: 3px solid rgb(255, 255, 255);
  transition: transform ease-in-out 300ms;
  outline: none;
  a {
    font-weight: bold;
    color: #ffffff;
  }
  &:hover,
  &:focus {
    transform: translateY(-0.8rem);
    cursor: pointer;
    background-color: c.$secondaryColor;
  }
  @include m.media(sm) {
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
