.cards {
  @include grid;
  padding: 4rem 0;
  gap: 3rem;
  @include media(md) {
    padding: 3rem 0;
  }
  @include media(sm) {
    padding: 2rem 0;
  }
  .wrapper {
    position: relative;
    box-shadow: 3px 6px 12px rgba(255, 255, 255, 0.356) inset;
    @include media(md) {
      grid-column: 1/13;
    }
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: span 6;
    text-align: left;
    .card {
      .image__container {
        position: relative;
        transition: visibility 500ms ease-out;
        &:hover {
          .overlay {
            visibility: visible;
          }
        }
        .overlay {
          position: absolute;
          visibility: hidden;
          background-color: rgba(0, 0, 0, 0.7);
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 10;
          @include flex(space-evenly);
          flex-direction: column;
          padding: 6rem;
          hr {
            width: 100%;
          }
          .site {
            h4 {
              color: #fff;
            }
          }
        }
        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
        }
      }
    }
    .card__text {
      background: #fff;
      grid-column: 1/13;
      padding: 2rem 1.5rem;
      h5 {
        font-weight: 600;
      }
      p {
        color: #000;
      }
      .link {
        @include flex(left);
        color: $secondaryColor;
      }
    }
  }
}
