@use '../helpers/colors' as c;
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
.case__details {
  margin-top: 6rem;
  padding: 4rem 8rem;
  .container {
    @include m.flex(center);
    align-items: flex-start;
    .case__study--left {
      flex: 0.3;
      .context {
        margin: 2rem 0;
        h4 {
          font-size: v.$xlr;
          font-weight: 600;
          padding: 0.8rem 0;
        }
        p {
          margin-bottom: 0.6rem;
          letter-spacing: 0.4rem;
          text-transform: uppercase;
          color: gray;
        }
      }
    }
    .case__study--right {
      flex: 0.7;
      @include m.media(xlg) {
        margin-left: 15%;
        margin-top: 5.5rem;
      }
      h5 {
        color: gray;
        font-weight: 600;
      }
    }
    padding: 5rem 0;
    .content {
      padding: 3rem 0;
      h4 {
        font-weight: 500;
        padding: 1rem 0;
      }
    }
  }
  .img__wrapper {
    position: relative;
    height: 40em;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
