@use '../helpers/colors' as c;
.case__details {
  margin-top: 4rem;
  padding: 4rem 8rem;
  .case__study {
    text-align: center;
    h3 {
      padding: 0.8rem 0;
    }
  }
  .container {
    padding: 5rem 0;
    .img__wrapper {
      height: 40em;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      padding: 3rem 0;
      h4 {
        font-weight: 500;
        padding: 1rem 0;
      }
    }
  }
}
