@use '../helpers/colors' as c;
@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
.case__details {
  padding: 3rem 8rem;
  margin-top: 6rem;
  @include m.media(sm) {
    padding: 3rem;
  }
  @include m.media(md) {
    padding: 3rem;
  }
  .container {
    @include m.grid;
    padding: 3rem 0;
    @include m.media(sm) {
      padding: 1rem 0;
    }
    .case__study--left {
      grid-column: 1/6;
      @include m.media(sm) {
        grid-column: 1/13;
      }
      @include m.media(md) {
        grid-column: 1/13;
      }
      .links {
        a {
          font-weight: 600;
          &:hover {
            color: c.$fontHighlight;
          }
        }
        .button__links {
          margin: 1rem 0;
          .github,
          .livesite {
            @include m.flex(flex-start);
            p {
              margin-right: 0.5rem;
            }
            svg {
              font-size: 2rem;
            }
          }
        }
      }
      .context {
        &:not(:nth-child(1)) {
          margin: 2rem 0;
        }
        h4 {
          font-weight: 600;
          padding: 0.8rem 0;
        }
        p {
          margin-bottom: 0.6rem;
          letter-spacing: 0.4rem;
          text-transform: uppercase;
          color: c.$primaryColor;
        }
        h5 {
          padding-bottom: 0.5rem;
        }
      }
    }
    .case__study--right {
      grid-column: 6/13;
      @include m.media(sm) {
        grid-column: 1/13;
      }
      @include m.media(md) {
        grid-column: 1/13;
      }
      @include m.media(xlg) {
        margin-left: 16%;
        margin-top: 2rem;
      }
      h5 {
        margin-bottom: 1.5rem;
      }
      p {
        color: c.$primaryColor;
        font-size: v.$p;
      }
    }
  }
  .img__wrapper {
    position: relative;
    height: 60rem;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
