@use '../helpers/mixins' as m;
.footer {
  background-color: rgba(119, 117, 117, 0.555);
  p {
    color: #000;
  }
  padding: 0.7rem;
  text-align: center;
  width: 100%;
  @include m.media(md) {
    padding: 1rem;
  }
}
