@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
.navbar.sticky {
  position: fixed;
  backdrop-filter: blur(45px);
}
.navbar {
  @include m.media(sm) {
    padding: 2.5rem 2rem;
  }
  @include m.media(md) {
    padding: 2.5rem 3rem;
  }
  height: 8rem;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 8rem;
  @include m.flex(space-between);
  .navbar__left {
    @include m.flex(center);
    a {
      .logo {
        @include m.flex(center);
        img {
          height: 3rem;
          width: 3rem;
        }
        &:hover {
          cursor: pointer;
        }
        h5 {
          font-size: v.$lr;
          padding-left: 1rem;
          font-weight: 500;
          font-family: v.$title-font;
        }
      }
    }
    .links {
      @include m.media(sm) {
        display: none;
      }
      @include m.media(md) {
        display: none;
      }
      padding: 0 1.5rem;
      a {
        padding-left: 1.5rem;
      }
    }
  }
  .container {
    @include m.flex(center);
    .toggle__btn .dark {
      background-color: #000;
      &:hover {
        box-shadow: 2px 2px 10px rgba(252, 255, 255, 0.4);
      }
    }
    .toggle__btn {
      padding: 0.8rem;
      @include m.flex(center);
      display: inline-flex;
      width: 3.5rem;
      height: 3.5rem;
      color: #000;
      border-radius: 1rem;
      background-color: rgb(234, 234, 234);
      border: none;
      cursor: pointer;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
      &:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      }
      svg {
        width: 2.8rem;
        height: 2.8rem;
        color: rgb(34, 34, 34);
      }
    }
    .menu {
      @include m.media(sm) {
        display: flex;
      }
      @include m.media(md) {
        display: flex;
      }
      margin-left: 1.5rem;
      cursor: pointer;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      @include m.flex(center);
      display: none;
      //active state
      &.active {
        &::before {
          transform: translateY(0) rotate(45deg);
          box-shadow: 0 0 #555;
        }
        &::after {
          transform: translateY(0) rotate(-45deg);
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 0.2rem;
        background: #555;
        transform: translateY(-1rem);
        box-shadow: 0 1rem #555;
        transition: 300ms;
      }
      &::after {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 0.2rem;
        background: #555;
        transform: translateY(1rem);
        transition: 300ms;
      }
    }
  }
}
.hamburger {
  display: none;
  z-index: 9;
  top: 0%;
  right: 0%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  animation: hamburger 300ms forwards;
  .wrapper {
    @include m.media(sm) {
      padding: 3rem 2.5rem;
      padding-top: 7rem;
    }
    @include m.media(md) {
      padding: 4rem 3.5rem;
      padding-top: 7rem;
    }
    padding: 3rem;
    .nav {
      height: 100%;
      width: 100%;
      @include m.grid;
      .nav__links,
      .social__media {
        grid-column: span 4;
        @include m.media(sm) {
          grid-column: 1/13;
        }
        @include m.media(md) {
          grid-column: 1/13;
        }
      }
      .nav__links {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          cursor: pointer;
          border-bottom: 1px solid c.$primaryColor;
          a {
            font-family: v.$primary-font;
            font-size: v.$xlr;
            font-weight: 700;
            &:hover {
              color: c.$secondaryColor;
            }
          }
        }
      }
      .social__media {
        @include m.flex(center);
        flex-direction: column;
        z-index: 1000;
        padding-right: 7rem;
        @include m.media(sm) {
          flex-direction: row;
          justify-content: space-evenly;
          padding-right: 0rem;
        }
        @include m.media(md) {
          flex-direction: row;
          justify-content: space-between;
          padding-right: 0rem;
        }
        a {
          margin: 2rem 0;
          transition: color 0.3s ease-out;
          &:hover {
            color: c.$secondaryColor;
          }
          svg {
            font-size: v.$lr;
          }
        }
      }
    }
  }
}
.hamburger.menu {
  display: block;
}

.dark .container .toggle__btn {
  background-color: #333;
  svg {
    color: #fff;
  }
}
