@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
.navbar {
  @include m.media(sm) {
    padding: 2.5rem 2rem;
  }
  @include m.media(md) {
    padding: 2.5rem 3rem;
  }
  backdrop-filter: blur(45px);
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  padding: 2rem 8rem;
  @include m.flex(space-between);
  .navbar__left {
    @include m.flex(center);
    a {
      .logo {
        @include m.flex(center);
        img {
          height: 3rem;
          width: 3rem;
        }
        &:hover {
          cursor: pointer;
        }
        h5 {
          font-size: v.$lr;
          padding-left: 1rem;
          font-weight: 500;
        }
      }
    }
    .links {
      @include m.media(sm) {
        display: none;
      }
      @include m.media(md) {
        display: none;
      }
      @include m.flex(space-between);
      padding: 0 1.5rem;
      li {
        list-style: none;
        padding-left: 1.5rem;
        a {
          position: relative;
          .active__underline {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0.2rem;
            width: 100%;
            background-color: #000;
            display: inline;
          }
        }
      }
    }
  }
  .navbar__right {
    @include m.flex(center);
    .toggle__btn .dark {
      background-color: #000;
      &:hover {
        box-shadow: 2px 2px 10px rgba(252, 255, 255, 0.4);
      }
    }
    .toggle__btn {
      padding: 0.8rem;
      @include m.flex(center);
      display: inline-flex;
      width: 3.5rem;
      height: 3.5rem;
      color: #000;
      border-radius: 1rem;
      background-color: rgb(234, 234, 234);
      border: none;
      cursor: pointer;
      transition: all;
      transition-property: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      }
      svg {
        width: 2.8rem;
        height: 2.8rem;
        color: rgb(34, 34, 34);
      }
    }
    .menu {
      @include m.media(sm) {
        display: flex;
      }
      @include m.media(md) {
        display: flex;
      }
      margin-left: 1.5rem;
      cursor: pointer;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      @include m.flex(center);
      transition: 650ms;
      display: none;
      //active state
      &.active {
        &::before {
          transform: translateY(0) rotate(45deg);
          box-shadow: 0 0 #000;
        }
        &::after {
          transform: translateY(0) rotate(-45deg);
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 0.2rem;
        background: #000;
        transform: translateY(-1rem);
        box-shadow: 0 1rem #555;
        transition: 300ms;
      }
      &::after {
        content: '';
        position: absolute;
        width: 3.2rem;
        height: 0.2rem;
        background: #000;
        transform: translateY(1rem);
        transition: 300ms;
      }
    }
  }
}
.burger__wrapper {
  position: relative;
  .hamburger {
    z-index: 9;
    top: 0%;
    right: 0%;
    position: fixed;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    transition: 850ms;
    animation: hamburger 300ms forwards;
    transition: 700ms;
    height: 100svh;
    max-width: 45%;
    @include m.media(sm) {
      max-width: 55%;
    }
    .nav {
      margin: 2rem 0;
      padding: 5rem 3rem;
      height: 100%;
      width: 100%;
      height: 100%;
      width: 100%;
      @include m.flex(space-evenly);
      flex-direction: column;
      h5 {
        align-self: center;
      }
      .nav__links,
      .social__media {
        align-items: center;
      }
      .nav__links {
        .link {
          position: relative;
          @include m.flex(center);

          .indicator {
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: -20px;
          }

          a {
            font-size: v.$xxlr;
            color: #000;
            font-weight: 700;
            &:hover {
              color: c.$secondaryColor;
            }
          }
        }
      }
      .social__media {
        @include m.flex(space-evenly);
        z-index: 1000;
        width: 100%;
        @include m.media(sm) {
          padding-right: 0rem;
        }
        @include m.media(md) {
          padding-right: 0rem;
        }
        a {
          transition: color 0.3s ease-out;
          &:hover {
            color: c.$secondaryColor;
          }
          svg {
            font-size: v.$lr;
          }
        }
      }
    }
    .curve__burger {
      position: absolute;
      top: 0;
      left: -99px;
      width: 100px;
      height: 100%;
      fill: rgb(41, 41, 41);
      stroke: none;
    }
  }
}
.dark {
  .container {
    .toggle__btn {
      background-color: #333;
      svg {
        color: #fff;
      }
    }
  }
  .menu {
    &::before,
    &::after {
      background: #fff !important;
    }
  }
  .hamburger {
    background-color: #000;
    nav {
      .nav__title {
        color: #fff;
      }
      .nav__links {
        .link {
          a {
            color: #fff !important;
          }
        }
      }
    }
  }
}
