@use "../helpers/mixins" as m;
@use "../helpers/colors" as c;
@use "../helpers/variables" as v;
.navbar.sticky {
  position: fixed;
  backdrop-filter: blur(45px);
}
.navbar {
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 2.5rem 3.5rem;
  }
  height: 7rem;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 8rem;
  @include m.flex(space-between);
  .navbar__left {
    @include m.flex(center);
    a {
      .logo {
        @include m.flex(center);
        img {
          height: 3.5rem;
          width: 3.5rem;
        }
        &:hover {
          cursor: pointer;
        }
        h5 {
          font-family: v.$secondary-font;
          font-size: v.$md;
          padding-left: 1rem;
          font-weight: 500;
          color: #fff;
          &.active {
            color: #000;
          }
        }
      }
    }
    .links {
      @include m.media(sm) {
        display: none;
      }
      @include m.media(md) {
        display: none;
      }
      padding: 0 1.5rem;
      a {
        color: #ffffff;
        padding-left: 1.5rem;
        transition: 300ms;
      }
    }
  }
  .menu {
    @include m.flex(center);
    z-index: 10;
    cursor: pointer;
    h5 {
      color: c.$primaryColor;
      font-size: v.$p;
      font-family: v.$secondary-font;
      margin-right: 0.5rem;
      margin-bottom: 0.2rem;
      &.active {
        color: #000;
      }
    }
  }
}
.hamburger {
  display: none;
  z-index: 9;
  top: 0%;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  color: #000;
  .wrapper {
    @include m.media(sm) {
      padding: 8rem 2.5rem;
    }
    @include m.media(md) {
      padding: 8rem 3.5rem;
    }
    padding: 8rem;
    height: 100%;
    .nav {
      height: 100%;
      width: 100%;
      @include m.grid;
      .nav__links,
      .more__info,
      .social__media {
        grid-column: span 4;
        @include m.media(sm) {
          grid-column: 1/13;
        }
        @include m.media(md) {
          grid-column: 1/13;
        }
      }
      .nav__links {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          cursor: pointer;
          position: relative;
          a {
            font-family: v.$primary-font;
            font-size: v.$xlr;
            font-weight: 700;
            &:hover {
              color: c.$secondaryColor;
            }
          }
        }
      }
      .more__info {
        p {
          font-size: v.$md;
          color: c.$primaryColor;
        }
        a {
          padding: 1rem 0;
          font-size: v.$md;
          text-decoration: underline;
        }
      }
      .social__media {
        @include m.flex(flex-start);
        align-items: flex-start;
        flex-direction: column;
        z-index: 1000;
        padding-right: 7rem;
        @include m.media(sm) {
          flex-direction: row;
          justify-content: space-between;
          padding-right: 0rem;
        }
        @include m.media(md) {
          flex-direction: row;
          justify-content: space-between;
          padding-right: 0rem;
        }
        a {
          margin: 2rem 0;
          transition: all 0.3s ease-out;
          &:hover {
            color: #fff;
            background: c.$secondaryColor;
            padding: 1rem 2rem;
          }
        }
      }
    }
  }
}
.hamburger.menu {
  display: block;
}
