@use "../helpers/mixins" as m;
@use "../helpers/variables" as v;
@use "../helpers/colors" as c;
.slider {
  position: relative;
  margin: 4.5rem 0;
  @include m.grid;
  background-color: c.$dominant;
  height: 58rem;
  padding: 8rem;
  .clientInfo {
    grid-column: 1/6;
    @include m.media(sm) {
      grid-column: 1/13;
    }
    h4 {
      color: #fff;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p {
      color: #fff;
    }
  }
  .slideContent {
    @include m.media(sm) {
      grid-column: 1/13;
      padding: 4rem 2rem;
    }
    grid-column: span 6;
    position: relative;
    padding: 1.5rem 3rem;
    .quotation {
      position: relative;
      p {
        color: #fff;
        line-height: 2rem;
      }
      .left-quote,
      .right-quote {
        position: absolute;
        height: 3rem;
        width: 3rem;
        color: #fff;
      }
      .left-quote {
        top: -2rem;
        left: -4rem;
      }
      .right-quote {
        bottom: -2rem;
        right: -3rem;
      }
    }
  }
  .wrapper__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    // bottom: 0;
    @include m.flex(space-between);
    .btn {
      @include m.media(sm) {
        height: 50%;
      }
      transition: ease-in-out 300ms;
      height: 100%;
      color: #fff;
      padding: 1.5rem;
      cursor: pointer;
      font-size: v.$md;
      border: none;
      background: transparent;
      &:hover {
        color: c.$primaryColor;
        background: rgba(255, 255, 255, 0.202);
      }
    }
  }
  .dots {
    @include m.flex(center);
    position: absolute;
    bottom: 3%;
    left: 40%;
    @include m.media(sm) {
      left: 25%;
    }
    .dot {
      width: 4rem;
      height: 0.4rem;
      margin-left: 1rem;
      background: c.$primaryColor;
      cursor: pointer;
      &.active {
        background: #fff;
      }
    }
  }
}
