@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
.about__page {
  padding: 2rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.7rem;
  }
  .about__description,
  .experience {
    text-align: center;
    padding: 3rem 6rem;
    margin-top: 3rem;
    a {
      color: #050507;
      font-weight: bold;
      text-decoration: underline;
    }
    @include m.media(sm) {
      padding: 1.2rem 0;
      text-align: left;
    }
    @include m.media(md) {
      padding: 1.5rem 0;
    }
    h5 {
      letter-spacing: 1rem;
      color: rgb(181, 181, 181);
    }
    h3 {
      padding: 1.5rem 0;
      // color: c.$dominant;
      font-weight: 400;
    }
    p {
      // color: c.$primaryColor;
      padding: 1rem 0;
      font-weight: 400;
    }
  }
  .html,
  .git {
    color: orangered;
  }
  .css {
    color: rgb(0, 144, 234);
  }
  .scss,
  .styled {
    color: palevioletred;
  }
  .javascript {
    color: rgba(255, 255, 0, 0.84);
  }
  .firebase {
    color: rgb(255, 255, 0);
  }
  .react {
    color: rgba(0, 255, 255, 0.73);
  }
  .gsap {
    color: green;
  }
  .language__container {
    padding: 3rem 0;
    .language__title {
      padding: 2rem;
      text-align: center;
      h4 {
        font-weight: 400;
        letter-spacing: 0.5rem;
        color: rgb(177, 177, 177);
      }
    }
    .languages {
      align-items: center;
      justify-items: center;
      @include m.grid;
      grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
      font-size: 3.2rem;
      padding: 2rem 1rem;
    }
  }
  .services {
    text-align: center;
    @include m.media(sm) {
      text-align: left;
    }
    .title {
      letter-spacing: 0.4rem;
      color: c.$primaryColor;
    }
    .tools {
      padding: 4rem 0rem;
      @include m.grid;
      gap: 4rem;
      h5 {
        letter-spacing: 0.15rem;
        padding: 2rem 0;
        font-weight: 400;
      }
      h4 {
        font-size: v.$md;
        line-height: 4rem;
      }
      &__left {
        grid-column: 1/5;
      }
      &__middle {
        grid-column: 5/9;
      }
      &__right {
        grid-column: 9/13;
      }
      &__left,
      &__middle,
      &__right {
        @include m.media(sm) {
          grid-column: 1/13;
        }
        @include m.media(md) {
          grid-column: 1/13;
        }
      }
    }
  }
  .principle {
    padding: 3rem 0;
    .title {
      letter-spacing: 0.4rem;
      text-align: center;
      color: c.$primaryColor;
    }
    .content {
      padding: 2.3rem 0;
      h4 {
        text-align: left;
        font-weight: 600;
        font-size: v.$md;
        padding: 2rem 0;
      }
      article {
        padding: 0.7rem 0;
        h5 {
          padding: 0.6rem 0;
        }
      }
    }
  }
}
