.blog__page {
  margin-top: 8rem;
  padding: 4rem 8rem;
  p {
    padding: 2rem 0;
  }
  .container {
    padding: 2rem 0;
    .content {
      .description {
        padding-top: 2rem;
      }
      h5 {
        font-weight: 500;
      }
      p {
        padding: 1rem 0;
      }
    }
  }
}
