@use "../helpers/mixins" as m;
@use "../helpers/colors" as c;
.blog__page {
  @include m.media(sm) {
    padding: 4rem 2.5rem;
  }
  margin-top: 8rem;
  padding: 4rem 8rem;
  p {
    padding: 2rem 0;
  }
  .container {
    padding: 2rem 0;
    .content {
      .description {
        padding-top: 2rem;
        .blog__title {
          @include m.flex(space-between);
        }
        h5 {
          font-weight: 500;
        }
        p {
          font-weight: 500;
          padding: 0.8rem 0;
        }
      }
    }
  }
}
