@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;
@use '../helpers/colors' as c;
.contact__page {
  padding: 2rem 8rem;
  @include m.media(sm) {
    padding: 3rem 2.5rem;
  }
  @include m.media(md) {
    padding: 3rem;
  }
  .content {
    padding: 10rem 0;
    h2 {
      @include m.media(sm) {
        width: 90%;
      }
      width: 50%;
      padding: 3rem 0;
    }
  }
  form {
    padding: 4rem 0;
    height: 100%;
    width: 100%;
    .inputs {
      margin: 5rem 0;
      position: relative;
      @include m.media(sm) {
        margin: 3rem 0;
      }
      input {
        background: transparent;
        width: 65%;
        height: 4rem;
        font-weight: 500;
        font-size: v.$md;
        outline: none;
        border: none;
        border-bottom: 0.2rem solid c.$primaryColor;
        @include m.media(sm) {
          width: 100%;
        }
        &:focus {
          border-bottom: 0.2rem solid c.$dominant;
        }
        &:focus ~ label,
        &:valid ~ label {
          font-size: v.$p;
          font-weight: 500;
          z-index: 2;
          transform: translateY(-3rem);
          color: c.$dominant;
        }
      }
      label {
        z-index: -1;
        color: c.$primaryColor;
        font-size: v.$md;
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        transition: 300ms transform ease-out;
        background: #fff;
      }
    }
    button {
      background: c.$secondaryColor;
      border: none;
      outline: none;
      padding: 1.3rem 2.3rem;
      color: #fff;
      cursor: pointer;
      border-radius: 0.3rem;
    }
  }
}
