@use '../helpers/mixins' as m;
.projects {
  padding: 0 8rem;
  margin-top: 10rem;
  @include m.media(sm) {
    padding: 4rem 2.5rem;
  }
  @include m.media(md) {
    padding: 4rem 3rem;
  }
  .projects__title {
    padding: 0rem;
    p {
      padding: 2rem 0;
    }
  }
  .container {
    margin-top: 4rem;
  }
  .personal__projects {
    padding-top: 8rem;
    h2 {
      text-align: left;
    }
  }
}
