@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
}
.menu {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  width: 3rem;
  height: 3rem;
  transition: 650ms;
  /* display: none; */
}
/* active state */
.menu::before {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 0.2rem;
  background: #555;
  transform: translateY(0);
  box-shadow: 0 1rem #555;
  transition: 300ms;
}
.menu::before .active {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 0 #555;
}
.hamburger {
  z-index: 9;
  top: 0%;
  right: 0%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  transition: 850ms;
  animation: hamburger 300ms linear;
  transition: 700ms;
  height: 100vh;
  width: 45%;
}
.hamburger .nav {
  padding: 3rem;
  height: 100%;
  width: 100%;
}
.hamburger .nav .nav__links {
  margin: 0;
  padding: 0;
}
.hamburger .nav .nav__links .link {
  position: relative;
  display: flex;
  align-items: center;
}
.hamburger .nav .nav__links .indicator {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}
.nav__links,
.social__media {
  grid-column: span 4;
}
.social__media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  padding-right: 7rem;
}
.hamburger .nav .nav__links a {
  margin: 2rem 0;
  transition: color 0.3s ease-out;
}
.hamburger .nav .curve__burger {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(41, 41, 41);
  stroke: none;
}
