@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.about {
  background: #000000;
  color: #ffffff;
  .about__wrapper {
    padding: 4rem 8rem;
    @include m.grid;
    @include m.media(sm) {
      padding: 2rem;
    }
    @include m.media(md) {
      padding: 3.5rem;
    }
    img {
      grid-column: span 6;
      @include m.media(sm) {
        height: 40rem;
        grid-column: 1/13;
      }
      @include m.media(md) {
        height: 42rem;
        grid-column: 1/13;
      }
      width: 100%;
      height: 46rem;
      object-fit: cover;
    }
    .about__description {
      align-self: center;
      grid-column: span 6;
      @include m.media(sm) {
        grid-column: 1/13;
      }
      @include m.media(md) {
        grid-column: 1/13;
      }
      h3 {
        padding: 1.5rem 0;
      }
      p {
        line-height: 1.3;
        color: #fff;
      }
      .link {
        padding: 1rem 0;
      }
    }
  }
}
