@use "../helpers/mixins" as m;
@use "../helpers/colors" as c;
.about {
  background: #000000;
  color: #ffffff;
  padding: 4rem 0;
  .about__wrapper {
    padding: 4rem 8rem;
    @include m.grid;
    @include m.media(sm) {
      padding: 2rem;
    }
    @include m.media(md) {
      padding: 3.5rem;
    }
    .img__wrapper {
      width: 100%;
      height: 35rem;
      grid-column: span 6;
      background: red;
      @include m.media(sm) {
        height: 35rem;
        grid-column: 1/13;
      }
      @include m.media(md) {
        height: 38rem;
        grid-column: 1/13;
      }
      @include m.media(lg) {
        height: 42rem;
      }
    }
    .about__description {
      align-self: center;
      grid-column: span 6;
      @include m.media(sm) {
        grid-column: 1/13;
      }
      @include m.media(md) {
        grid-column: 1/13;
      }
      h3 {
        padding: 1.5rem 0;
      }
      p {
        color: #fff;
      }
      .link {
        padding: 1rem 0;
      }
    }
  }
}
