@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
.contact {
  padding: 4rem 8rem;
  color: #000;
  @include m.grid;
  @include m.media(sm) {
    padding: 3rem 2rem;
    text-align: center;
  }
  &__title {
    h4 {
      margin: 1rem 0;
    }
    font-weight: 600;
    text-align: center;
    grid-column: 1/13;
  }
  .callaction {
    justify-content: center;
    grid-column: 1/13;
    @include m.flex(space-evenly);
  }
  .media {
    @include m.grid;
    grid-column: 1/13;
    .social__media {
      grid-column: 1/13;
      justify-self: center;
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      a {
        font-weight: 500;
        &:hover {
          color: c.$dominant;
        }
      }
    }
    hr {
      width: 30%;
      grid-column: 1/13;
      justify-self: center;
    }
    .copyright {
      justify-self: center;
      position: relative;
      grid-column: 1/13;
      span {
        position: relative;
        text-decoration: underline;
        cursor: pointer;
      }
      .lang {
        @include m.media(sm) {
          left: -2rem;
        }
        position: absolute;
        bottom: 1rem;
        left: 0;
        background: transparent;
        color: #000;
        padding: 1rem;
        font-weight: 500;
        width: 45rem;
        &.active {
          display: block;
        }
      }
    }
  }
}
