@use '../helpers/mixins' as m;
@use '../helpers/variables' as v;

.describe {
  @include m.grid;
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  &__left {
    @include m.media(sm) {
      grid-column: 1/13;
    }
    @include m.media(md) {
      grid-column: 1/13;
    }
    align-self: center;
    grid-column: span 6;
    h1 {
      font-weight: 300;
      line-height: 1;
      padding-bottom: 1rem;
    }
    h5 {
      line-height: 1.1;
    }
  }
  &__right {
    padding-top: 2rem;
    grid-column: span 6;
    @include m.media(md) {
      grid-column: 1/13;
    }
    @include m.media(sm) {
      grid-column: 1/13;
    }
    p {
      line-height: 1.3;
      font-weight: 500;
    }
    .line__img {
      padding-bottom: 3rem;
      gap: 2rem;
      @include m.flex(space-evenly);
      img {
        height: 5em;
        width: 5em;
        @include m.media(xlg) {
          width: 8em;
          height: 8em;
        }
      }
      ul {
        text-align: start;
        width: 75%;
        h5 {
          font-weight: 700;
          margin-bottom: 1rem;
        }
        li {
          background-size: 1em 1em;
          padding-left: 3rem;
          margin-bottom: 0.5rem;
          background-position: 0 50%;
          font-size: v.$p;
          list-style: none;
          background-image: url('https://uploads-ssl.webflow.com/603a00d2496482478db36f56/6059b9ce9376de30a9282afd_icon-checkmark.svg');
          background-repeat: no-repeat;
        }
      }
    }
    h5 {
      margin: 1.5rem 0;
      font-weight: 700;
      line-height: 1.2;
    }
    .primary__btn {
      margin-top: 4rem;
    }
  }
}
