@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;

.hero {
  position: relative;
  padding: 2rem 8rem;
  gap: 2.5rem;
  @include m.flex(center);
  @include m.media(sm) {
    padding: 3rem 2rem;
    margin-top: 3rem;
    // flex-direction: column;
    gap: 1.5;
  }
  @include m.media(md) {
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: column;
    gap: 1.5;
  }

  &__left {
    position: relative;
    padding-top: 3rem;
    @include m.flex(center);
    flex-direction: column;
    text-align: center;
    max-width: 80rem;
    .heading__info {
      @include m.flex(center);
      div {
        margin-left: 0.4rem;
        font-size: v.$p;
        align-self: center;
      }
    }

    h1 {
      margin: 1.5rem 0;
      font-weight: 500;
      span {
        font-weight: 700;
        color: c.$secondaryColor;
      }
    }

    p {
      padding: 1rem 0;
    }
  }
}
