@use "../helpers/mixins" as m;
@use "../helpers/variables" as v;
.project {
  position: relative;
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.5rem;
  }
  .project__title {
    padding: 2rem 0;
    text-align: center;
    @include m.media(md) {
      text-align: left;
    }
    @include m.media(sm) {
      text-align: left;
      h2 {
        font-size: v.$xlr;
      }
    }
    h2 {
      font-weight: 600;
      margin: 1.2rem 0;
      span {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        -webkit-text-fill-color: #fff;
      }
    }
  }
}
.btn__container {
  @include m.flex(center);
}
