@use "../helpers/mixins" as m;
.project {
  position: relative;
  padding: 6rem 8rem;
  @include m.media(sm) {
    padding: 2.5rem;
  }
  @include m.media(md) {
    padding: 3.5rem;
  }
  .project__title {
    padding: 2rem 0;
    text-align: center;
    h2 {
      font-weight: 600;
      margin: 1.2rem 0;
      span {
        color: transparent;
        -webkit-text-stroke: 1px #000;
        -webkit-text-fill-color: #fff;
      }
    }
  }
}
.btn__container {
  @include m.flex(center);
}
