@use "../helpers/mixins" as m;
@use "../helpers/colors" as c;
@use "../helpers/variables" as v;
.progress {
  padding: 8rem;
  @include m.media(sm) {
    padding: 3rem 2rem;
  }
  @include m.media(md) {
    padding: 3rem;
  }
  .progress__description {
    text-align: center;
    h2 {
      padding-top: 1rem;
      color: c.$dominant;
    }
    .list {
      @include m.flex(space-evenly);
      padding: 5rem 4rem;
      span {
        .line {
          @include m.media(sm) {
            width: 2.6rem;
          }
        }
      }
    }
    h4 {
      @include m.media(sm) {
        font-size: v.$p;
      }
    }
  }
  .link {
    justify-content: center;
  }
}
