@use "../helpers/mixins" as m;
@use "../helpers/colors" as c;
@use "../helpers/variables" as v;
.skills__container {
  @include m.media(sm) {
    padding: 4rem 2rem;
  }
  @include m.media(md) {
    padding: 3.5rem;
  }
  @include m.flex(center);
  flex-direction: column;
  padding: 6rem 8rem;
  align-items: flex-start;
  .skills__description {
    padding: 3rem 0rem;
    max-width: 66%;
    @include m.media(sm) {
      max-width: 100%;
      h2 {
        font-size: v.$xlr;
      }
    }
    @include m.media(md) {
      h2 {
        font-size: v.$xlr;
      }
    }
    h2 {
      color: c.$dominant;
      margin: 1.6rem 0;
      font-weight: 600;
    }
    p {
      font-size: v.$md;
      margin-bottom: 3rem;
    }
  }
  .skills__cards {
    width: 100%;
    overflow: hidden;
    @include m.grid();
    .skill {
      img {
        height: 8rem;
        width: 8rem;
      }
      h5 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-weight: 600;
      }
      hr {
        margin: 1.5rem 0;
        border: none;
        outline: none;
        height: 0.3rem;
        width: 100%;
        border-radius: 1rem;
        background-color: c.$primaryColor;
        margin-bottom: 3rem;
      }
      @include m.media(sm) {
        grid-column: span 6;
      }
      .values {
        padding: 1.2rem 0;
        position: relative;
        hr {
          width: 100%;
          height: 0.1rem;
          background-color: c.$primaryColor;
          margin-bottom: 0.5rem;
        }
      }
      grid-column: span 3;
      border-radius: 2rem;
    }
  }
}
