@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
.skills__container {
  padding: 4rem 8rem;
  @include m.media(sm) {
    padding: 4rem 2rem;
  }
  @include m.media(md) {
    padding: 3rem;
  }
  @include m.grid;
  .skills__description {
    @include m.media(sm) {
      grid-column: 1/13;
      text-align: center;
      padding: 0 3rem;
    }
    @include m.media(md) {
      grid-column: 1/13;
      padding: 0 5rem;
      text-align: center;
    }
    padding: 3rem 0rem;
    grid-column: 1/7;
    h3 {
      color: c.$dominant;
      margin: 1.6rem 0;
      font-weight: 600;
    }
    p {
      margin-bottom: 3rem;
    }
    .link {
      @include m.media(sm) {
        @include m.flex(center);
      }
      @include m.media(md) {
        @include m.flex(center);
      }
    }
    img {
      @include m.media(sm) {
        height: 180px;
        width: 180px;
      }
      @include m.media(md) {
        height: 230px;
        width: 230px;
      }
      width: 250px;
      height: 250px;
    }
  }
  .skills__cards {
    overflow: hidden;
    grid-column: 7/13;
    @include m.grid;
    @include m.media(sm) {
      grid-column: 1/13;
    }
    @include m.media(md) {
      grid-column: 1/13;
    }
    img {
      height: 70px;
      width: 70px;
    }
    h5 {
      margin: 1rem 0;
      font-weight: 600;
    }
    .skill {
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
      grid-column: span 6;
      border-radius: 2rem;
      background: c.$primaryGradient;
      padding: 4rem 2rem;
      img {
        margin-bottom: 2.5rem;
      }
      h5 {
        margin-bottom: 1rem;
      }
    }
  }
}
