@use '../helpers/mixins' as m;
@use '../helpers/colors' as c;
@use '../helpers/variables' as v;
*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  @include m.media(sm) {
    font-size: 50%;
  }
  @include m.media(md) {
    font-size: 52%;
  }
  @include m.media(lg) {
    font-size: 56.25%;
  }
  @include m.media(xxlg) {
    font-size: 65.5%;
  }
}

body {
  position: relative;
}
a {
  font-size: v.$md;
  color: #000;
  transition: color 200ms ease-out;
}
.navbar {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  @include m.media(xxlg) {
    max-width: 160rem;
  }
}
.dashboard,
.container,
.slider,
.about__wrapper,
.consultation,
.about__page,
.blog__page,
.projects,
.contact,
.tranding,
.contact__page,
.case__details,
.blog__details {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  min-height: 50vh;
  @include m.media(xxlg) {
    max-width: 160rem;
  }
}
:root {
  /* Your default theme */
  --background: #4b3eff;
  --foreground: #000;
}

.dark {
  --background: #000;
  --foreground: #fff;
}
.dark {
  & .hamburger {
    background-color: #000;
    a {
      color: #fff;
    }
  }
  li {
    a {
      color: #fff;
    }
  }
  a {
    color: #fff;
    &:hover {
      color: #4b3eff;
    }
  }
  .active__underline {
    background-color: #fff !important;
  }
  label {
    color: #fff !important;
  }
}
