@use "../helpers/mixins" as m;
@use "../helpers/variables" as v;
.loader {
  display: none;
  .overlay {
    z-index: 10000;
    background: #000;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    @include m.flex(center);
    overflow: hidden;
    @include m.media(sm) {
      flex-direction: column;
    }
    .title {
      color: #fff;
      margin-right: 5rem;
    }
    .wordmill {
      position: relative;
      width: 43rem;
      height: 10rem;
      span {
        @include m.media(sm) {
          padding: 2rem 0;
        }
        text-align: left;
        opacity: 0;
        top: 54%;
        font-size: v.$lr;
        font-weight: 500;
        position: absolute;
        color: #fff;
      }
    }
  }
}
