h1 {
  font-size: $xxlr;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: $sbtl;
  font-weight: 600;
  line-height: 1.1;
}
h3 {
  font-size: $xlr;
  line-height: 1;
  font-weight: 500;
}
h4 {
  line-height: 1;
  font-size: $lr;
  font-weight: 400;
}
h5 {
  line-height: 1;
  font-size: $md;
  font-weight: 400;
}
p {
  line-height: 1;
  font-size: $p;
  color: $fontColor;
}
a {
  font-weight: 400;
  font-size: $sm;
  color: $fontColor;
}
